In [1]:
def times2(var):
    return var*2

In [3]:
times2(5)

10

Map function

In [4]:
seq = [1,2,3,4,5]

In [6]:
map(times2,seq)

In [7]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

Lambda expression

In [8]:
lambda var:var*2

In [9]:
t = lambda var:var*2

In [10]:
t(6)

12

In [11]:
list(map(lambda num: num*3,seq))

[3, 6, 9, 12, 15]

filter function

In [12]:
filter(lambda num: num%2==0,seq)

In [13]:
list(filter(lambda num: num%2 == 0,seq))

[2, 4]

Methods

In [14]:
s = 'hello my name is Sam'

s. tab to view all methods

In [15]:
s.lower()

'hello my name is sam'

In [16]:
s.upper()

'HELLO MY NAME IS SAM'

In [17]:
s.split()

['hello', 'my', 'name', 'is', 'Sam']

In [18]:
tweet = "Go sports! #sports"

In [19]:
tweet.split()

['Go', 'sports!', '#sports']

In [20]:
tweet.split('#')

['Go sports! ', 'sports']

In [21]:
tweet.split('#')[1]

'sports'

In [22]:
d = {'k1':1,'k2':2}

In [23]:
d

{'k1': 1, 'k2': 2}

In [24]:
d.keys()

dict_keys(['k1', 'k2'])

In [25]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [26]:
d.values()

dict_values([1, 2])

In [27]:
lst = [1,2,3]

In [28]:
lst.pop()

3

In [29]:
lst

[1, 2]

In [30]:
lst = [1,2,3,4,5]

In [31]:
item = lst.pop()

In [32]:
lst

[1, 2, 3, 4]

In [33]:
item

5

In [34]:
first = lst.pop(0)

In [35]:
lst

[2, 3, 4]

In [37]:
first

1

In [38]:
lst.append('new')

In [39]:
lst

[2, 3, 4, 'new']

in operator

In [40]:
'x' in [1,2,3]

False

In [41]:
'x' in ['x','u','y']

True

tuple unpacking

In [42]:
x = [(1,2),(3,4),(5,6)]

In [43]:
x

[(1, 2), (3, 4), (5, 6)]

In [44]:
x[0]

(1, 2)

In [45]:
x[0][1]

2

In [46]:
for item in x:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [47]:
for (a,b) in x:
    print(a)

1
3
5

In [48]:
for(a,b) in x:
    print(b)

2
4
6

In [49]:
for a,b in x:
    print(b)

2
4
6

In [50]:
for a,b in x:
    print(a)
    print(b)

1
2
3
4
5
6