In [1]:
import numpy as np
import pandas as pd

In [8]:
from numpy.random import randn

In [2]:
#Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [3]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [4]:
inside

[1, 2, 3, 1, 2, 3]

In [6]:
list(zip(outside,inside))

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [5]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [9]:
df = pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [10]:
df

             A         B
G1 1 -0.715945  3.371055
   2  0.806262  1.567291
   3 -0.683482 -1.001781
G2 1  2.386579  1.806491
   2  1.770945 -0.015546
   3  0.467910 -0.124752

### Grab from very outside index

In [11]:
df.loc['G1']

          A         B
1 -0.715945  3.371055
2  0.806262  1.567291
3 -0.683482 -1.001781

In [12]:
df.loc['G1'].loc[1]

A   -0.715945
B    3.371055
Name: 1, dtype: float64

In [14]:
df.index.names = ['Groups','Num']

In [15]:
df

                   A         B
Groups Num
G1     1   -0.715945  3.371055
       2    0.806262  1.567291
       3   -0.683482 -1.001781
G2     1    2.386579  1.806491
       2    1.770945 -0.015546
       3    0.467910 -0.124752

In [16]:
df.loc['G2']

            A         B
Num
1    2.386579  1.806491
2    1.770945 -0.015546
3    0.467910 -0.124752

In [17]:
df.loc['G2'].loc[2]

A    1.770945
B   -0.015546
Name: 2, dtype: float64

In [18]:
df.loc['G2'].loc[2]['B']

-0.01554558851534079

In [19]:
df

                   A         B
Groups Num
G1     1   -0.715945  3.371055
       2    0.806262  1.567291
       3   -0.683482 -1.001781
G2     1    2.386579  1.806491
       2    1.770945 -0.015546
       3    0.467910 -0.124752

In [21]:
df.loc['G1'].loc[1]['A']

-0.7159452263910719

### Cross section function

In [22]:
df

                   A         B
Groups Num
G1     1   -0.715945  3.371055
       2    0.806262  1.567291
       3   -0.683482 -1.001781
G2     1    2.386579  1.806491
       2    1.770945 -0.015546
       3    0.467910 -0.124752

In [23]:
df.xs('G1')

            A         B
Num
1   -0.715945  3.371055
2    0.806262  1.567291
3   -0.683482 -1.001781

In [25]:
df.xs(1,level='Num')

               A         B
Groups
G1     -0.715945  3.371055
G2      2.386579  1.806491